/* colori:
grigio chiaro: #efefef
grigio scuro: #a9a9a9
rosso: #fc4a1a
azzurro: #4abdac
giallo:  #f7b733

---

fonts:
font-family: 'Passion One', cursive;
font-family: 'Lobster', cursive;
font-family: 'Roboto Slab', serif;
 */

body{
  background-color: #efefef;
  scroll-behavior: smooth;
}

#home{
  height: 100%;
  padding-left: 15%;
  padding-top: 20%;
}

#barra{
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  background-color: #4abdac;
  z-index: 1;
}

#mainImage{
  width: 21.2vw;
  border-radius: 5px;
  padding: 1px;
}

#lightbox{
  position:absolute;
  height: 60%;
  border-radius: 10px;
  left: 20%;
  top: 10%;
  display: none;
}

#lightbox img{
  width: 100%;
  height: auto;
}

.homeheader{
  font-family: 'Passion One', cursive;
  font-size: 15vh;
}

.hometext{
  font-family: 'Roboto Slab', serif;
  font-size: 5vh;
}

.logo{
  font-family: 'Passion One', cursive;
  margin-top: 1.5vh;
  font-size: 7vh;
  padding-left: 15%;
  float: left;
}

.linksbarra{
  text-align: right;
  font-family: 'Passion One', cursive;
  margin-top: 3.5vh;
  font-size: 3vh;
  padding-right: 15%;
}

.linksbarra a{
  padding: 2.5%;
}

.pezzo{
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 75vw;
  height: 75vh;
}

.blank-space{
  width:100%;
  height:10%;
}

.rettangologiallo{
  background-color: #f7b733;
  width: 50vw;
  height: 50vh;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.rettangologiallo:after{
  content:'';
  display: block;
  width: 90%;
  height: 10%;
  box-shadow: 0 2px 150px #000000, 0 2px 120px #f7b733;
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: -1;
}

.rettangolorosso{
  background-color: #fc4a1a;
  width: 50vw;
  height: 50vh;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.rettangolorosso:after{
  content:'';
  display:block;
  width: 90%;
  height: 10%;
  box-shadow: 0 2px 150px #000000, 0 2px 120px #fc4a1a;
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: -1;
}

.rettangoloblu{
  background-color: #4abdac;
  width: 50vw;
  height: 50vh;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.rettangoloblu:after{
  content:'';
  display:block;
  width: 90%;
  height: 10%;
  box-shadow: 0 2px 150px #000000, 0 2px 120px #4abdac;
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: -1;
}

.testo{
  font-family: 'Roboto Slab', serif;
  color: white;
}

.testoImmagini{
  font-family: 'Roboto Slab', serif;
  color: white;
  float: left;
  width: 30%;
  height: 40%;
  overflow-y: scroll;
}

.cardstitle{
  font-family: 'Passion One', cursive;
  color:white;
  font-size: 5vh;
}

.cardstitleImamgini{
  font-family: 'Passion One', cursive;
  font-size: 5vh;
}

.galleria{
  float:right;
}

.descrizione{
  width: 20vw;
  height: 40vh;
  position: relative;
  top: -40%;
  float: left;
}

.thumbnail{
  width: 7vw;
  float:left;
  opacity: .5;
  border-radius: 5px;
  padding: 1px;
}

.thumbnail:hover{
  opacity: 1;
  cursor: pointer;
}

.immagineOriginale{
  height: 30vh;
  float: right;
  border-radius: 5px;
}

.titolo{
  height: 100%;
  padding-left: 13%;
}




a:link {
   color: black;
   text-decoration: none;
}

a:visited {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #fc4a1a;
   text-decoration: none;
}

a:active {
   color: white;
   text-decoration: none;
}
